/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset css start*/
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
/* reset css end*/

main {
    width: 290px;
    height: 560px;
    margin: 25px auto 0;
    outline: 10px solid #222831;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 58%, rgba(255,255,255,1) 83%);
    border-radius: 15px;
    box-shadow: 0px 11px 8px -3px rgba(0,0,0,0.1);
}

.screen {
    position: relative;
    height: 200px;  
    border-radius: 15px;
}

header {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%); 
  /*font*/
  font: normal normal 700 25px/30px "Roboto", sans-serif;
}

.menu {
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-50%, -50%);
  margin: 5px auto;
  border: none;
  background-color: transparent;
  /*font*/
  font: normal normal 700 25px/30px "Roboto", sans-serif;
}

.text-input {
  position: absolute;
  top: 15%;
  height: 90px;
  width: 100%;
  background-color: transparent;
  text-align: right;
  overflow: hidden;
  padding: 12px;
  /*font*/
  font: normal normal 700 60px/30px "Roboto", sans-serif;
  word-wrap: break-word;
}

.text-result {
  position: absolute;
  top: 50%;
  height: 100px;
  width: 100%;
  background-color: transparent;
  text-align: right;
  overflow: hidden;
  padding: 30px 12px 0px 12px;
  /*font*/
  font: normal normal 700 70px/30px "Roboto", sans-serif;
  word-wrap: break-word;
  color: #194E7D;
}

.button-container {
    background-color: white;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-pack {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button-1, .button-2, .button-3, .button-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    height: 55.5px;
    width: 55.5px;
    margin: 5px;
    border-radius: 15px;
    /*font*/
    font: normal normal 400 25px/30px "Roboto", sans-serif;
    /*shadow*/
    box-shadow: 0px 11px 8px -3px rgba(0,0,0,0.1);
}

.button-1 {
    background: rgb(25,78,125);
}

.button-2 {
  background: rgb(29,47,61);
}

.button-3 {
  background: rgb(174, 187, 93);
  color: #1F2831;
}

.button-4 {
background: rgb(233, 103, 71);
}

.button-1:hover, .button-2:hover, .button-3:hover, .button-4:hover {
    filter: brightness(1.75);
    cursor: pointer;
}

.button-1:active, .button-2:active, .button-3:active, .button-4:active {
    border: 5px solid #fff;
}