/* reset css start*/
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
/* reset css end*/

main {
    width: 290px;
    height: 560px;
    margin: 25px auto;
    border: 1px solid black;
    background-color: #EBEBEB;
}

.screen {
    background-color: #EBEBEB;
    height: 200px;  
}

.button-container {
    background-color: white;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-pack {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #243A4D;
    height: 55.5px;
    width: 55.5px;
    margin: 5px;
    border-radius: 10px;

    /*shadow*/
    box-shadow: 0px 10px 15px 7px rgba(0,0,0,0.1);
}