/* reset css start*/
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    font: normal normal 400 25px/30px "Roboto", sans-serif;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
/* reset css end*/

/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

main {
    width: 290px;
    height: 560px;
    margin: 25px auto 0;
    border: 1px solid black;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 58%, rgba(255,255,255,1) 83%);
    border-radius: 15px;
}

.screen {
    height: 200px;  
    border-radius: 15px;
}

.button-container {
    background-color: white;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-pack {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button-1, .button-2, .button-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    height: 55.5px;
    width: 55.5px;
    margin: 5px;
    border-radius: 15px;

    /*shadow*/
    box-shadow: 0px 10px 15px 7px rgba(0,0,0,0.1);
}

.button-1 {
    background: rgb(37,123,201);
    background: linear-gradient(180deg, rgba(37,123,201,1) 0%, rgba(25,78,125,1) 15%, rgba(35,112,179,1) 85%, rgba(0,45,89,1) 100%);
}

.button-1:hover {
    filter: brightness(1.75);
}

.button-1:active {
    border: 5px solid #1F2831;
}

.button-2 {
    background: rgb(23,53,82);
    background: linear-gradient(180deg, rgba(23,53,82,1) 0%, rgba(29,47,61,1) 15%, rgba(41,67,90,1) 85%, rgba(10,25,39,1) 100%);
}

.button-2:hover {
    filter: brightness(1.75);
}

.button-2:active {
    border: 5px solid #1F2831;
}

.button-3 {
    background: rgb(246,255,185);
    background: linear-gradient(180deg, rgba(246,255,185,1) 0%, rgba(147,182,115,1) 15%, rgba(214,240,167,1) 85%, rgba(113,149,84,1) 100%);
    color: #1F2831;
}

.button-3:hover {
    filter: brightness(1.2);
    color: #1F2831;
}

.button-3:active {
    border: 5px solid #1F2831;
    color: #1F2831;
}